<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Danh sách Sinh Vien</title>
</head>
<body>
	<h1>Danh sách SV</h1>
	<table border="1">
		<thead>
			<tr>
				<th>MSSV</th>
				<th>Họ Tên </th>
				<th>Lớp </th>
                <th>Khoa </th>
                <th>Email </th>
                <th>Sđth </th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="kh : ${dsSV}">
				<td th:text="${kh.MSSV}"/>
				<td th:text="${kh.HoTen}"/>
				<td th:text="${kh.Lop}"/>
                <td th:text="${kh.Khoa}"/>
                <td th:text="${kh.Email}"/>
                <td th:text="${kh.Sđth}"/>
			</tr>
		</tbody>
	</table>
</body>
</html>

